;; -*- mode: lisp -*-
(server-start)

;; Global variables.
;; Path of the emacs configs directory.
(setq emacs-foggy-dir "~/src/foggycowinn/emacs"
      packages-list-file (expand-file-name "foggy_packages-list.el" emacs-foggy-dir)
      setup-el-get (expand-file-name "setup-el-get.el" emacs-foggy-dir)
      init-emacs-file (expand-file-name "emacs_init.el" emacs-foggy-dir)
      custom-file (expand-file-name "custom.el" emacs-foggy-dir))


(load packages-list-file)
(load setup-el-get)
(load init-emacs-file)

(load-file custom-file)

;; do 'extra' stuff, local machine specific, if necessary
(let ((extra (expand-file-name "~/.extra.el")))
  (if (file-exists-p extra)
      (load extra)))
